*{
    user-select: none !important;
}
.icon{
    width: 40px;
    box-shadow: 0 0 10px #007fad94;
    border-radius: 50%;
}
.name{
    font-weight: bold;
    color: #00b9ff;
    font-family: cursive;
}